[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesFactor"]
	path = BayesFactor
	url = https://github.com/richarddmorey/bayesfactor
	subdir = pkg/BayesFactor
